<h1>my Quotes</h1>
<hr/>

        <div class="row">
            <div class="col-md-6">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>

            <div class="col-md-6"> 
                <ol>
    <div *ngFor="let quote of quotes;let i = 'index'">
        
            <h4 id="{{i}}" appStrikethrough>{{quote.description}}</h4>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
            <app-quote-detail  *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'completeQuote($event,i)'></app-quote-detail>
        </div>
        </ol>
        </div>
        <!-- <div class="row" *ngIf="quote.showDescription"> -->
        
    </div>
    



<!-- <p *ngIf='quotes.length > 5'>You have too many quotes</p> -->